// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.welcome-txt {
    font-weight: 900;
    font-size: 2.7em;
}

.input-blur {
    --bs-focus-ring-blur: 14px
}
