// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.welcome-txt {
    font-weight: 900;
    font-size: 4.5em;
}

.input-blur {
    --bs-focus-ring-blur: 10px
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover; 
}

.nav-item.dropdown {
    list-style-type: none;
}

.nav-item .nav-link.active .nav-icon path {
    stroke: #ffffff;
}

.svgs:hover path {
    stroke: #ffffff;
}

.selects {
    font-size: 0.9em;
}

.table tbody tr {
    background-color: white !important;
}

.punteado {
    border: 1px dashed #53545C;
}

.thisPaso {
    background-color: white;
}

.thisPaso .titulo {
    color: #8067B2 !important;
    font-weight: bold;
}

.btn-check:checked + .btn {
    background-color: white;
    color: #8067B2;
    border-color: #8067B2;
}

.hidden {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

@keyframes slideFromTop {
    0% {
        transform: translate(-50%, -200%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}

.slide-right {
    position: absolute;
    top: 16%;
    left: 30%;
    transform: translate(-50%, -200%);
    animation: slideFromTop 1.5s ease-in-out forwards; 
    z-index: 1;
}

.posicion {
    top: 10%;
}

.posicion span {
    color: white;
}

.profile-img {
    transition: opacity 0.3s ease-in-out;
}

.change-image-label {
    background: rgba(0, 0, 0, 0.4);
    width: 120px;
    cursor: pointer;
    opacity: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    transition: opacity 0.3s ease-in-out;
}

.change-image-label:hover {
    opacity: 1;
}

.change-image-label:hover .profile-img {
    opacity: 0.5;
}


// estilos para los floating labels en los inputs de los formularios 

.float-label {
    position: relative;
    width: 100%;
}

.float-label .form-control::placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.float-label .form-label {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #6c757d;
    transition: all 0.2s ease-in-out;
    background-color: white;
    pointer-events: none;
}


.float-label .form-control:focus + .form-label,
.float-label .form-control:not(:placeholder-shown) + .form-label {
    top: -0.2em;
    padding: 0 0.2em;
    font-size: 0.8rem;
    color: #8067B2;
}

.float-label .form-control:focus::placeholder {
    opacity: 0.5;
}
